tr , td,{
  border: 1px solid black;
  background-color: white;
  /*display: none;*/
}
table, tr:hover {
          background-color: 	#00FFFF;
        }
body {
  background-color: pink;
}
#jobInfo{
  text-decoration: line-through;
}
